{% extends "base.html" %}
{% block title %}{{ title }} · SAM-ARIZE{% endblock %}
{% load static %}
{% block head %} 
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/button.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h1 class="form-title">{{ title }}</h1>

  <form method="post" class="form-base">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
      <label>Name</label>
      {{ form.name }}
    </div>

    <div class="mb-3">
      <label>Address</label>
      {{ form.address }}
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-add">Save</button>
      <a href="{% url 'location_list' %}" class="btn btn-back">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}