{% extends "base.html" %}
{% load static %}

{% block head %} 
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/button.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h2 class="form-title">
    {% if mode == "edit" %}
      Edit Supplier
    {% else %}
      Create Supplier
    {% endif %}
  </h2>
  <form method="post" class="form-base">
    {% csrf_token %}
    {{ form.as_p }}
    
    <div class="form-actions">
      <button type="submit" class="btn btn-add">
        {% if mode == "edit" %}
          Save
        {% else %}
          Create
        {% endif %}
      </button>
      <a href="{% url 'supplier_list' %}" class="btn btn-back">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}