html {
  box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
:root {
    font-size: 62.5%;
}

body{
    margin: 0;
    font-family: sans-serif;
    outline: 4px solid salmon;
}

header {
    background-color: #322d2d;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.header-content img{
    width: 70px;
    height: auto;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3rem;
    flex-wrap: nowrap;
    white-space: nowrap;
}

nav li {
    display: block;
}
footer {
    background-color: #322d2d;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}