{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link
    rel="shortcut icon"
    type="image/jpg"
    href="{% static 'images/samurai-logo.jpg' %}"
    />
    <link rel="shortcut icon" type="image/jpg" href="" />

    <link rel="stylesheet" href="{% static 'css/base/base.css' %}" />
    <title>Samarize</title>
    {% block head %} 
    {% endblock %}
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="{% url 'dashboard' %}">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
        {% block content %} 
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>