{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block head %} 
    {% endblock %}
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="{% url 'cat-index' %}">Home</a></li>
            <li><a href="{% url 'toy-index' %}">Assets</a></li>
            <li><a href="{% url 'cat-create' %}">Inventory</a></li>
            <li><a href="{% url 'toy-create' %}">Reports</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        </ul>
      </nav>
    </header>
    <main>
        {% block content %} 
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>