{% extends "base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
<link rel="stylesheet" href="{% static 'css/button.css' %}">
{% endblock %}

{% block content %}

<div class="container">

  <h1>PO #{{ order.id }}</h1>
  <p><strong>ID:</strong> p{{ order.id }}</p>
  <p><strong>Supplier:</strong> {{ order.supplier.name }}</p>
  <p><strong>Order Date:</strong> {{ order.order_date }}</p>
  <p><strong>Status:</strong> {{ order.get_status_display }}</p>
  {% if order.owner %}
    <p><strong>Added By:</strong> {{ order.owner.username }}</p>
  {% else %}
    <p><strong>Added By:</strong> Unknown</p>
  {% endif %}
  <div class="actions">
    <a href="{% url 'purchase_order_edit' order.pk %}" class="btn btn-edit">Edit Order</a>
    <a href="{% url 'purchase_order_delete' order.pk %}" class="btn btn-delete">Delete Order</a>
    <a href="{% url 'purchase_order_list' %}" class="btn btn-back">Back to Purchase Orders</a>
  </div>
</div>
{% endblock %}