{% extends 'base.html' %}
{% load static %}

{% block title %}
Asset Details · SAM-ARIZE
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
<link rel="stylesheet" href="{% static 'css/button.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{asset.name}}</h1>
    <p><strong>ID:</strong> A{{ asset.id }}</p>
    <p><strong>Category:</strong> {{ asset.category }}</p>
    <p><strong>Location:</strong> {{ asset.location }}</p>
    <p><strong>Quantity:</strong> {{ asset.quantity }}</p>
    <p><strong>Serial Number:</strong> {{ asset.serial_number }}</p>
    <p><strong>Purchase Date:</strong> {{ asset.purchase_date|date:"Y-m-d" }}</p>
    <p><strong>Status:</strong> {{ asset.status }}</p>
    <p><strong>Added By:</strong> 
      {% if asset.owner %}
        {% firstof asset.owner.get_full_name asset.owner.username %}
      {% else %}
        — 
      {% endif %}
    </p>
    <p><strong>Created At:</strong> {{ asset.created_at|date:"Y-m-d" }}</p>
    <p><strong>Updated At:</strong> {{ asset.updated_at|date:"Y-m-d" }}</p>

  <div class="actions">
    <a href="{% url 'asset_update' asset.id %}" class="btn btn-edit">Edit</a>
    <a href="{% url 'asset_delete' asset.id %}" class="btn btn-delete">Delete</a>
    <a href="{% url 'asset_index' %}" class="btn btn-back">Back to Assets</a>
  </div>
</div>
{% endblock %}