{% extends 'base.html' %}
{% load static %}

{% block title %}
Edit Asset · SAM-ARIZE
{% endblock %}
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/asset/asset_update.css' %}"
/>
{% endblock %}

{% block content %}
<div class="asset-edit-container">
  <h2>Edit Asset: {{ asset.name }}</h2>
  
  <form method="post" class="asset-form">
    {% csrf_token %}
    {{ form.as_p }}
    
    <div class="form-actions">
      <button type="submit" class="btn btn-success">Update Asset</button>
      <a href="{% url 'asset_index' %}" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}