main{
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

body{
    background-color: rgb(196, 215, 197);
}

.home-container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    /* margin: 1rem; */
    padding: .5rem;
}

.home-content h2{
    text-transform: uppercase;
}