{% extends "base.html" %}
{% block title %}{{ category.name }} · SAM-ARIZE{% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <h1>{{ category.name }}</h1>
  <p><strong>ID:</strong> C{{category.id}}</p>
  <p><strong>Description:</strong> {{ category.description }}</p>
  <p><strong>Created At:</strong> {{ category.created_at|date:"Y-m-d" }}</p>
  {% if category.owner %}
    <p><strong>Added By:</strong> {{ category.owner.username }}</p>
  {% else %}
    <p><strong>Added By:</strong> Unknown</p>
  {% endif %}

  <div class="actions">
    <a href="{% url 'category_edit' category.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'category_delete' category.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'category_list' %}" class="btn btn-secondary">Back to List</a>
  </div>
</div>
{% endblock %}